#div1
{
	border-radius:20px;
	padding:1%;
	background-color:white;
	width:35%;
	height:365px;
	margin-top:6%;
	margin-left: 32%;
  opacity:1;
}

#l1
{ 
	color:rgb(0,102,145);
	font-size:40px;
	font-weight: bolder;
	padding-left:1%;


  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
#l2
{ 
  width:12%;
  height:30px;
  float:right;
 
 }

#l3
{
  position:absolute;
  left:49em;
  top:29.7em;
  color:grey;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#div5
{
	margin:3%;
  margin-bottom:3%; 
}
#f
{
	margin:7%; 
 margin-top:-6%
}

 input[type=email],input[type=text],input[type=password],input[type=date]{
		  background:transparent;
		width: 100%;	
		padding: 12px 20px;
		margin: 2px;
		border: none;
		border-bottom:1px solid rgb(0,102,145);
		box-sizing: border-box;
	 color:black;

    outline: none;
	}

	input[type=submit]{
    
   width:125px;
   height:40px;
   margin-top: 1em;
   float:right;
    color:white;
    font-weight:bolder;
    background:rgb(0,102,145);
  border-radius: 9px;

    
  }
    input[type=submit]:hover {
     color:white;
     border:1px solid white;
     cursor:pointer;
  }

  .sign
  {
  	font-size: 16px;
  	margin-left:2%;
  	float:left;
  }
  .hr
  {
  	text-decoration: none;
    color:blue;
  }
  .hr:hover
  {
  text-decoration: underline;	
  }

  #b
      {
        text-decoration: none;
        display: none;
        font-weight:bolder;
      }